.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.input_text {
  text-align: center;
  color: black;
  font-size: 25px;
}

.remove {
  width: 150px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  text-align: center;
  border: 8px solid gray;
  border-radius: 8px;
  background-color: gray;
}

.cal_card {
  width: 360px;
  height: 505px;
  max-height: 100%;
  margin: auto;
  border: 3px solid black;
  border-radius: 8px;
  padding: 20px 26px 20px 26px;
}

input {
  width: 20px;
  background-color: gray;
  color: black;
  border: 3px solid gray;
  border-radius: 8px;
  padding: 26px 38px 20px 26px;
  margin: 4px;
  cursor: pointer;
  font-size: 25px;
}

.top_text {
  width: 275px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 20px;
}
